---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro'; // React Component
import Hero from '../components/Hero.astro';
import Philosophy from '../components/Philosophy.astro';
import Services from '../components/Services.astro';
import Results from '../components/Results.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Axel Sotelo | Entrenador Personal">
	<main>
		<Hero />
		<Philosophy />
		<Services />
		<Results />
	</main>
</Layout>